html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(23, 39, 48, 0.63);
   
}


.col-md-12 {
    height: calc(100vh / 4);
    text-align: center;
}


.box1 {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(60, 138, 53, 0.397);
    font-size: 0px;
}


.box1:hover {
    height: calc(100% / 2);
    width: calc(100% / 2);
    background-color: rgb(127, 71, 179);
    font: italic normal bold 60px normal;
    text-decoration: line-through;
    color: rgb(59, 136, 100);
    text-decoration-color: rgb(201, 22, 31);
    text-shadow: 4px 3px rgb(102, 165, 190); 
    margin: auto;
}

.img-holder{
    /* width: 100%; */
    height: calc(100vh / 4);
}

img {
    height: 100%;
    widows: 100%;
}